table {
  border-collapse: collapse;
  width: 100%;
  background-color: lightgreen;
}

.container1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 80vh;
}

td a.edit {
  border: 1px solid black;
  background-color: lightblue;
  padding: 2px 6px;
  color: white;
  text-decoration: none;
  margin: 3px;
}

td a.reject {
  border: 1px solid black;
  background-color: red;
  padding: 2px 6px;
  color: white;
  text-decoration: none;
  margin-right: 3px;
}

table .thead1 th {
  border-right: 1px solid white;
}

.table1 tr {
  border-bottom: 1px solid white; /* Add horizontal line after each row */
}

.tbody1 td {
  height: 50px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border-right: 1px solid white;
  text-align: center;
}

input[type="submit"] {
  font-size: 12px;
  color: white;
  border: 1px solid;
  padding: 7px;
  background-color: purple;
  border-radius: 4px;
  text-align: center;
  margin: 3px;
}
